body {
	margin: auto;
	text-align: center;
	background-color: antiquewhite;
}
div#container {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 40%;
	height: 50%;
}
div.choice {
	text-align: center;
	width: 40%;
	border: 1px solid black;
  
}
.letter {
	color: #2CA4B0;
	font-family: 'Oleo Script', cursive;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 18px;
	text-shadow: 1px 0 0 #fff;
}

.word {
	color: #111;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	margin: 0 0 24px;
	padding: 0 30px;
	text-align: center;
	text-transform: uppercase;
}

.attempt {
	color: #d04764;
	font-family: 'Lobster', cursive;
	font-size: 36px;
	font-weight: normal;
	line-height: 48px;
	margin: 0 0 18px;
	text-shadow: 1px 0 0 #fff;
}

.word_status {
	color: #7c795d;
	font-family: 'Trocchi', serif;
	font-size: 45px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
}

h1 {
	color: #7c795d;
	font-family: 'Trocchi', serif;
	font-size: 45px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
}

#firstp {
	font-size: 26px;
	font-weight: 300;
	color: rgb(77, 204, 18);
	margin: 0 0 24px;
}

h2 {
	color: #d04764;
	font-family: 'Lobster', cursive;
	font-size: 36px;
	font-weight: normal;
	line-height: 48px;
	margin: 0 0 18px;
	text-shadow: 1px 0 0 #fff;
}

p {
	color: #2CA4B0;
	font-family: 'Oleo Script', cursive;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 18px;
	text-shadow: 1px 0 0 #fff;
}

.word {
	color: #111;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	margin: 0 0 24px;
	padding: 0 30px;
	text-align: center;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: CORAL;
	border: none;
	border-radius: 15px;
	box-shadow: 0 10px #999;
}

.button:hover {
	background-color: coral
}

.button:active {
	background-color: coral;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.curr_score {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
}